@media (max-width: 740px){
    .card{
        /* display: grid; */
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .card-image{
        grid-row: 1;
        padding: 20px;
    }

    

    .card-text{
        grid-column: 1;
        grid-row: 2;
    }

    .logo{
        /* grid-column: 2; */
    
    }
        
    .main-nav{
        /* display: grid;
        grid-template-rows: repeat(4, 1fr); */
        right: 200px;
        /* display: none; */
        flex-direction: column;
        position: fixed;
        /* right: 625px; */
        right: 90%;
        top: 130px;
        width: 80vw;
        height: 100dvh;
            
        background-color: var(--header-);
        border-inline-start: 1px solid #ccc;
        
        
        transform: translateX(100%);
        
        transition: transform 0.6s, box-shadow 0.6s;
        
        opacity: 0;
        pointer-events: none;
    }


    /* .open-menu{
        pointer-events: auto;
        opacity: 1;
    } */

    .main-screen {
        opacity: 1;
        /* pointer-events: auto; */
      }

    .main-nav-list{
        flex-direction: column;
        position: absolute;
    }

    .nav-link:hover ::after{
        display: none;
    }

    .hamburger{
        justify-self: end;

    }

    .hamburger-btn{
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: 30px;
        color: white;
    }

    .main-content > *{
        margin: 30px 0px 10px;
    }

    .modal{
        z-index: 1;
        height: 95vh;
        width: 95vw;
    }

   .dropdown-content {
        display: none;
        position: relative;
        left: 35%;
    }
    
}

@media (min-width: 741px){
    
    .main-nav-list > li{
        border: 1px solid var(--header-after);
    }
    
    .hamburger{
        display: none;    
    }
    
    .main-screen{
        /* display: none; */
        
    }
    .modal{
        z-index: 1;
        height: 60vh;
        width: 75vw;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
}