.main-content{
    position: relative;
    top: 110px;
    border: 1px solid rgb(127, 127, 127);
    /* border: 1px solid black; */

}

.modal-container{
    display: flex;
    justify-content: center;
}

.modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: whitesmoke;
    color: var(--header-);
    border: 2px solid var(--header-);
    padding: 20px;
    font-size: 1.5em;
    line-height: 2em;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.modal-h2{
    /* flex-basis: 2; */
    /* flex-grow: 2; */
    line-height: 1em;
}

.modal-p{
    flex-grow: 4;
}

.close-btn{
    cursor: pointer;
    background-color: rgb(94, 94, 94);
    border:1px solid var(--header-);
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    
    width: 25vw;
    height: 8vh;

    justify-self: center;

    /* flex-grow: 1; */
}